<div class="col py-3" style="padding-left: 300px; margin-top: -750px;">
<h5>Détails de l'utilisateur</h5>
<div style="padding-left: 25%;">
<div *ngIf="user">
    <div class="input-group">
    
        <span class="input-group-text">Matricule</span>
<div class="col-auto">
        <input type="text" value="{{ user.matricule }}" disabled style="display: block;" class="form-control">
</div>
</div>
<br>
<div class="input-group">
<span class="input-group-text">Nom  </span>
<div class="col-auto">
        <input type="text" value="{{ user.name }}" disabled style="display: block;" class="form-control">
</div>
</div>
<br>
<div class="input-group">
<span class="input-group-text">Prénom</span>
<div class="col-auto">
        <input type="text" value="{{ user.lastName}}" disabled style="display: block;" class="form-control">
</div>
</div>
<br>
<div class="input-group">
<span class="input-group-text">Adresse</span>
<div class="col-auto">
        <input type="text" value="{{ user.adresse }}" disabled style="display: block;" class="form-control">
</div>
</div>
<br>
  <button type="button" class="btn btn-outline-success" routerLink="/update-user/{{user._id}}">Modifier</button>
  <a routerLink="/users" class="fa-solid fa-right-from-bracket fa-lg" style="padding-left: 20%;"></a>

  
 </div>
 
</div>
</div>