<div class="col py-3" style="padding-left: 300px; margin-top: -750px;">
<h5>Modifier l'utilisateur</h5>

<div *ngIf="selectedUser">
  <form
    #userForm="ngForm"
    class="row g-3 needs-validation was-validated"
    novalidate=""
    (ngSubmit)="updateUser(userForm)"
  >
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">
        Matricule: </label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          name="matricule"
          [(ngModel)]="selectedUser.matricule"
          required
        />
        <div class="invalid-feedback">Please choose a username.</div>
      
    </div>

    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">
        Nom: </label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          name="name"
          [(ngModel)]="selectedUser.name"
          required
        />
        <div class="invalid-feedback">Merci d'entrer une valeur</div>
     
    </div>

    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">
        Prénom:</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          name="lastName"
          [(ngModel)]="selectedUser.lastName"
          required
        />
        <div class="invalid-feedback">Merci d'entrer une valeur</div>
      
    </div>

    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">
        Adresse:</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom03"
          name="adresse"
          [(ngModel)]="selectedUser.adresse"
          required
        />
        <div class="invalid-feedback">Merci d'entrer une valeur</div>
      
    </div>

    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck"
          required
        />
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">You must agree before submitting.</div>
      </div>
    </div>
    
    <br />

    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="updateUser(userForm)"
      >
        Enregistrer
      </button>
    </div>
  </form>
</div>
</div>